In [1]:
months = ['January', 'Feburary', 'March']

for month in months:
    print(month)

January
Feburary
March

In [4]:
for number in range(0, 100):
    if number % 3 == 0 and number >= 50:
        print(number)

51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [7]:
for number in range(0,10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [14]:
names = ['hillary', 'diana', 'brian']

for index in range(len(names)):
    names[index] = names[index].title()

print(names)

['Hillary', 'Diana', 'Brian']

In [19]:
movies = {'Titanic' : 1997, 'Finding Nemo' : 2003}

for (key, value) in movies.items():
    print('The movie {}, was made in {}'.format(key, value))

The movie Titanic, was made in 1997
The movie Finding Nemo, was made in 2003

In [23]:
random_number = 20

while random_number < 30:
    print(random_number)
    random_number += 1

20
21
22
23
24
25
26
27
28
29